<div id="buylist">
  <h1>記帳本</h1>
  <div class="buy_item control_panel">
    <label>產品名</label>
    <input id="input_name" placeholder="名稱..." />
    <label>價錢</label>
    <input id="input_price" placeholder="234..." /><span class="addbtn">+新增</span>
  </div>
  <div id="items_list">
    {{#each record}}
    <li class="buy_item"><i class="fas fa-{{ this.category }}"></i>{{ this.name }}
      <div class="price">{{ this.amount }}</div>
      <div class="del_btn">X</div>
    </li>
    {{/each}}
  </div>
</div>