<div id="buylist">
  <h1>記帳本</h1>
  <div class="buy_item control_panel">
    <label>月份</label>
    <select>
      <option value="table-tennis">休閒運動</option>
      <option value="user-astronaut">電影娛樂</option>
      <option value="car">汽油費用</option>
      <option value="heartbeat">健康檢查</option>
      <option value="utensils">餐飲伙食</option>
      <option value="glass-cheers">手搖飲料</option>
    </select>
    <label>價錢</label>
    <input id="input_price" placeholder="234..." />
    <span><a class="addbtn" href="/expanse/new">+新增</a></span>
  </div>
  <div id="items_list">
    {{#each record}}
    <li class="buy_item">
      <i class="fas fa-{{ this.category }}"></i>{{ this.name }}<span class="date">{{ this.date }}</span>
      <div class="price">{{ this.amount }}</div>
      <div class="del_btn">X</div>
    </li>
    {{/each}}
  </div>
</div>