<div id="buylist">
  <h1>Welcome, Please login.
  </h1>
  <form action="/users/login" method="POST">
    <div class="login">
      <input type="text" name="email" placeholder="email" required="required" class="input-txt" />
      <input type="password" name="password" placeholder="Password" required="required" class="input-txt" />
      <div class="login-footer">
        <a href="/users/register" class="lnk">
          <span>Register</span>
        </a>
        <button type="submit" class="btn--right">Sign in </button>

      </div>
  </form>
</div>